@import '~antd/dist/antd.css';

.header_bar{
    background-color:#EAE8DB;
    padding-top: 3%;
    padding-bottom: 3%;
}

.header_text{
    color:#5E5757;
    font-family: 'Inter', sans-serif;
}
@media screen and (min-width: 1201px) {
    .header_text {
      font-size: 26px;
    }
  }
@media screen and (max-width: 1200px) {
    .header_text {
      font-size: 20px;
    }
  }
@media screen and (max-width: 900px) {
    .header_text {
    font-size: 16px;
    }
}
@media screen and (max-width: 700px) {
    .header_text {
    font-size: 12px;
    }
}

